/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	font-size: 1.5em;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	color: #FFFFFF;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	font-style: italic;
}

/*
body style
*/

#container{
	text-align: center;
	z-index: 2;
}

#video-placeholder{
	z-index: 2;
	display: inline-block;
}


body{
	background-color: #010107;
	background-repeat: no-repeat;
	margin: 0;
}


/* @keyframes effect1 {
	0%	 {background: radial-gradient(circle, rgba(1,1,7,0) 0%, rgba(206,206,206,1) 100%) no-repeat;}
	50%  {background: radial-gradient(circle, rgba(1,1,7,0) 0%, rgba(206,206,206,1) 50%) no-repeat;}
	100% {background: radial-gradient(circle, rgba(1,1,7,0) 0%, rgba(206,206,206,1) 12%) no-repeat;}
} */

@keyframes effect1 {
	0%	 {background-color: #010107;}
	56%  {background-color: #4e4e4e;}
	78%  {background-color: #636363;}
	99%  {background-color: #bababa;}
	100% {background-color: #010107;}
}


@keyframes alarm {
	0%	{background-color: #010107;}
	50% {background-color: #470e07;}
	100% {background-color: #010107;}
}
.sound4{
	animation: alarm 1.2s ease-in-out;
	/* background-repeat: no-repeat; */
}

/* .sound9 #noice{
	content: url("IMG/noice background.png");
	opacity: 0.2;
}

#noice{

	position: absolute;
	width: 100vw;
	z-index: 0;
	margin-top: -15em;
	opacity: 0;
	mix-blend-mode: screen;
} */

.sound9{
	background: #010107;
	animation: effect1 41s ease-in-out;
}




/* **********************************************
The first paragraph, with extended timing for
	all siblings. Basically what it does is that
	it shows the text after a delay, which
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 {
	opacity: 0;
	font-family: brenner;
}
.p0.on {
	opacity: 1;
	font-family: "brenner mono regular";
	transition: 0s;
	font-weight: 400;
	font-style: normal;

}

.p1 {
	opacity: 0;
	font-family: brenner;
	font-style: italic;
	font-weight: 600;
}

.p1.on{
	opacity: 1;
	font-family: "brenner sans condensed";
}

/* .p0.on span:nth-of-type(2) {
	opacity: 1;
	margin-right: -.25em;

}
.p0.on span:nth-of-type(3) {
	opacity: 1;

	margin-right: -.25em;

}
.p0.on span:nth-of-type(4) {
	opacity: 1;

	margin-right: -.25em;

}
.p0.on span:nth-of-type(5) {
	opacity: 1;

	margin-right: -.25em;

}
.p0.on span:nth-of-type(6) {
	opacity: 1;

	margin-right: -.25em;

}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	margin-right: -.25em;

} */
